@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --header-height: 70px;
  --main-bg: #d5d5d5;
  --main-transition: all 0.3s ease;
  --border-black: black;
  --main-color: whitesmoke;
  --main-font: "Roboto", sans-serif;
  --color-black: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
input {
  outline: none;
}
.container {
  max-width: 1240px;
  margin: auto;
}
.row-flex {
  display: flex;
  justify-content: space-between;
}
/* -------------------------------- */
/* header */
header {
  height: var(--header-height);
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #e8e8e8;
}
header .row-flex {
  align-items: center;
}
.header-logo img {
  width: 100px;
  cursor: pointer;
  margin-left: -62px;
}
.header-nav nav ul {
  display: flex;
}
.header-nav nav ul li {
  padding: 0 10px;
  transition: var(--main-transition);
  cursor: pointer;
}
.header-nav nav ul li a {
  line-height: var(--header-height);
  font-size: 15px;
  font-weight: 700;
}
.header-nav nav ul li:hover {
  background-color: var(--main-bg);
}
.header-search {
  position: relative;
}
.header-search i {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.header-search input {
  height: 30px;
  border: 1px solid var(--border-black);
  padding-left: 24px;
  border-radius: 15px;
}
.header-cart i {
  font-size: larger;
  cursor: pointer;
  position: relative;
}
.header-cart i::after {
  content: attr(number);
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  background-color: black;
  border-radius: 50%;
  color: var(--main-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}
/* --------------------------------- */
/* slider */
.slider {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 2.45/1;
  position: relative;
  padding-top: var(--header-height);
}
.slider-items {
  display: flex;
  transition: var(--main-transition);
  width: 100%;
}
.slider-item {
  min-width: 100%;
}
.slider-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.slider-arrow.left {
  left: 10px;
}
.slider-arrow.right {
  right: 10px;
}
.slider-arrow i {
  font-size: 30px;
  color: white;
}
.slider-arrow i:hover {
  color: black;
}
/* --------------------------------- */
/* hot-product */
.heading-text {
  font-weight: 500;
  padding: 12px;
  position: relative;
  margin-left: -5px;
}
.heading-text::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-bg);
}
.heading-text::before {
  position: absolute;
  content: "";
  display: block;
  width: 69px;
  height: 3px;
  left: 11px;
  bottom: 9px;
  background-color: var(--color-black);
  border-radius: 10px;
}
.hot-products {
  margin-top: 20px;
}
.row-grid {
  display: grid;
  justify-content: space-between;
}
.row-grid-hot-product {
  grid-template-columns: repeat(5, 19%);
}
.hot-product-item img {
  width: 100%;
  cursor: pointer;
}
.hot-product-item > p {
  font-weight: 400;
  font-size: 15px;
}
.hot-product-item > span {
  font-size: 12px;
  font-weight: 300;
}
.hot-product-item-price {
  margin-top: 6px;
}
.hot-product-item-price p {
  font-weight: 500;
}
.hot-product-item-price p span {
  font-weight: 500;
  color: #d5d5d5;
  font-size: 15px;
  text-decoration: line-through;
}
/* --------------------------------- */
/* footer */
footer {
  margin-top: 40px;
  padding: 20px 0 0 20px;
  background-color: var(--color-black);
}
footer .row-grid {
  grid-template-columns: repeat(4, 25%);
}
.footer-item p:first-child {
  font-weight: 700;
  font-size: 16px;
}
.footer-item p {
  color: var(--main-bg);
  font-size: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
/* product detail */
.p-to-top {
  padding-top: calc(var(--header-height) + 20px);
}
.row-flex-product-detail {
  justify-content: flex-start;
  align-items: center;
}
.product-product {
  font-size: 13px;
  font-weight: 500;
  color: grey;
}
.product-heading {
  font-size: 14px;
  font-weight: 500;
}

/* --------------------------------- */
/* reponsive */
.header-bar-icon i {
  display: none;
}
.header-logo-mobile img {
  display: none;
}
@media only screen and (max-width: 756px) {
  .row-flex,
  .row-grid {
    padding: 0 12px;
  }
  /* header */
  header {
    z-index: 99;
  }
  header .row-flex {
    height: 70px;
  }
  .header-nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    background-color: var(--main-bg);
    color: black;
    transition: var(--main-transition);
  }
  .header-nav.active {
    top: var(--header-height);
  }
  .header-nav nav ul {
    flex-direction: column;
    text-align: center;
    padding: 20px auto;
  }
  .header-bar-icon i,
  .header-logo-mobile img {
    display: block;
  }
  .header-logo-mobile img {
    width: 70px;
  }
  .header-search {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .slider-item img {
    height: auto;
    object-fit: cover;
  }
  .slider-arrow.left,
  .slider-arrow.right {
    margin-top: 30px;
  }
  /*product */
  .row-grid-hot-product {
    grid-template-columns: repeat(2, 49%);
  }
  .hot-product-item {
    margin-bottom: 10px;
  }
  /* footer */
  footer .row-grid {
    grid-template-columns: repeat(2, 49%);
  }
}
